.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        color: #C70101;
        background-color: $main-color;
        padding: 50px 54px 60px 54px;
    }
    &__addr {
        margin-bottom: 36px;
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
    }
    &__phone {
        margin-bottom: 36px;
        color: #FFF;
        display: block;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        line-height: 20px;
        &:hover {
            color: #fff;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 53px;
        height: 53px;
        margin: 0 15px;
        }
}