.reviews {
    padding-bottom: 48px;
    &__text {
        width: 680px;
        margin-left: 60px;
        padding-right: 60px;
    }
    &__block {
        display: flex;
        margin-top: 60px;
    }
    &__img {
        display: block;
        width: 170px;
        height: 170px;
    }
    &__subtitle {
        color: #0D0D0D;
        font-size: 18px;
        font-weight: 700;
    }
    &__info {
        color: #646464;
        font-size: 14px;
        font-weight: 500;
    }
    &__descr {
        color: #0D0D0D;
        font-size: 16px;
        font-weight: 300;
        margin-top: 10px;
    }
}
